{% extends 'main/superbasepersonal.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
{{title}} 
{% endblock %}
{#конец названия страницы#}


    
{% block content %}
{% autoescape off %}
<div class="container">
        <center>  <h3><a href="/personal/"> Персональный раздел </a></h3>     </center>
     <br>
<div class="row">
        <div class="col-7">
            
   <center>  <h3><a href="/hike/"> Маршруты походов </a></h3>     </center>
{#основная таблица#}

{% for obj in objects %}
   
    <table class="table table-bordered flexy">
    <tbody>
    <tr>
        <td > 
           <h4>{{ obj.title }}</h4>
            <h6>{{ obj.aim_station }}  -&nbsp;   {{ obj.back_station }}</h6>
            <b>дней:&nbsp </b> {{ obj.how_long }}  &nbsp&nbsp&nbsp&nbsp&nbsp <b>км:&nbsp  </b> {{ obj.kilometers }}
            <br>         

            <b>Отправление&nbspс:</b>&nbsp{{ obj.start_station }}
            <br>
            <b>Группа VK: </b> 
                {% if obj.vk %}
                <a href="{{ obj.vk}}"  target="blank" >
                 ссылка
                </a>
                {% else  %}
                отсутствует
                {% endif %}
            <br>

        <a href="{% url 'hikestr' obj.pk %}" target="blank" class="btn btn btn-outline-primary  mt-3" style="width: 180px">читать далее</a>
        </td>
    </tr>
    </tbody>
</table>
 {% endfor %}
{#конец основной таблицы#}
{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary mt-1">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary mt-1">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary mt-1">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary mt-1">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>
 {# колонка с фильтрами #}   
<div class="col">
 <center> <h3>Фильтры</h3> </center>
    {#фильтр 1 форма для поиска по нужным полям #}
 <center> <h6>  Поиск </h6></center>
        <form action="/hike/hike/searchresult/" method="GET">
         {% csrf_token %}
         {% crispy form %}
         </form>
<br>
 
{#фильтр 2 поиск пройденных и непройденных маршрутов в этом году #}
    <center> <h6>  Пройдено в этом году?  </h6></center>
     {% if pk == 0 %}    
     <center><div class="btn-group">          
<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Найти
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'hikefilteryear' pk=0 %}">Все маршруты</a></li>
    <li><a class="dropdown-item" href="{% url 'hikefilteryear' pk=1 %}">пройдено</a></li>
    <li><a class="dropdown-item" href="{% url 'hikefilteryear' pk=2 %}">не пройдено</a></li>
  </ul>
</div> </center>
<br>
   {% elif pk == 1 %} 
     <center><div class="btn-group">   
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    пройдено
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'hikefilteryear' pk=0 %}">Все маршруты</a></li>
    <li><a class="dropdown-item" href="{% url 'hikefilteryear' pk=1 %}">пройдено</a></li>
    <li><a class="dropdown-item" href="{% url 'hikefilteryear' pk=2 %}">не пройдено</a></li>
  </ul>   
</div> </center>
    <br>
    {% elif pk == 2 %}      
      <center>  <div class="btn-group">   
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    не пройдено
  </button>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item" href="{% url 'hikefilteryear' pk=0 %}">Все маршруты</a></li>
    <li><a class="dropdown-item" href="{% url 'hikefilteryear' pk=1 %}">пройдено</a></li>
    <li><a class="dropdown-item" href="{% url 'hikefilteryear' pk=2 %}">не пройдено</a></li>
  </ul>
        <br>
</div> </center>
     <br>
    {% endif %} 

    {#фильтр 3 поиск пройденных и непройденных маршрутов вообще #}
    <center> <h6>  Пройдено когда-то  </h6></center>
     {% if qk == 0 %}
    
     <center><div class="btn-group">
          
<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Найти
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'donehikefilteryear' qk=0 %}">Все маршруты</a></li>
    <li><a class="dropdown-item" href="{% url 'donehikefilteryear' qk=1 %}">пройдено</a></li>
    <li><a class="dropdown-item" href="{% url 'donehikefilteryear' qk=2 %}">не пройдено</a></li>
  </ul>
</div> </center>
     <br>
   {% elif qk == 1 %} 
   <center>  <div class="btn-group"> 
       <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    пройдено
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'donehikefilteryear' qk=0 %}">Все маршруты</a></li>
    <li><a class="dropdown-item" href="{% url 'donehikefilteryear' qk=1 %}">пройдено</a></li>
    <li><a class="dropdown-item" href="{% url 'donehikefilteryear' qk=2 %}">не пройдено</a></li>
  </ul>
   
</div> </center>
 <br>
    {% elif qk == 2 %} 
     
      <center>   <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    не пройдено
  </button>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item" href="{% url 'donehikefilteryear' qk=0 %}">Все маршруты</a></li>
    <li><a class="dropdown-item" href="{% url 'donehikefilteryear' qk=1 %}">пройдено</a></li>
    <li><a class="dropdown-item" href="{% url 'donehikefilteryear' qk=2 %}">не пройдено</a></li>
  </ul>
   
         
</div> </center>
    <br>
 {% endif %} 
    {#фильтр 4 поиск готовых маршрутов  #}
    <center> <h6>  Готов маршрут?  </h6></center>
     {% if rk == 0 %}
    
     <center><div class="btn-group">
          
<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Найти
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'readyhikefilteryear' rk=0 %}">Все маршруты</a></li>
    <li><a class="dropdown-item" href="{% url 'readyhikefilteryear' rk=1 %}">готов</a></li>
    <li><a class="dropdown-item" href="{% url 'readyhikefilteryear' rk=2 %}">не готов</a></li>
  </ul>
</div> </center>
     <br>
   {% elif rk == 1 %} 
   <center>  <div class="btn-group">
       <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    готов
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'readyhikefilteryear' rk=0 %}">Все маршруты</a></li>
    <li><a class="dropdown-item" href="{% url 'readyhikefilteryear' rk=1 %}">готов</a></li>
    <li><a class="dropdown-item" href="{% url 'readyhikefilteryear' rk=2 %}">не готов</a></li>
  </ul>
   
</div> </center>
 <br>
    {% elif rk == 2 %} 
     
      <center>   <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    не готов
  </button>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item" href="{% url 'readyhikefilteryear' rk=0 %}">Все маршруты</a></li>
    <li><a class="dropdown-item" href="{% url 'readyhikefilteryear' rk=1 %}">готов</a></li>
    <li><a class="dropdown-item" href="{% url 'readyhikefilteryear' rk=2 %}">не готов</a></li>
  </ul>
   
          <br>
</div> </center>
    <br>
 {% endif %} 
 
</div>
 {# конец колонки с фильтрами #} 
</div>
</div>
</div>
{% endautoescape %}
{% endblock %}
