{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
   Загрузка EXEL 
{% endblock %}


{% block content %}
<div class="col-8">
      
   <center><h3>Загрузка списков приборов из файлов EXEL*</h3> </center>
    <br>
   <i>*Раздел доступен только с компьютера/планшета</i>
    <br>
   
      {% if USER_HAVE_RIGHTS %} 
   <br>
 <center><a href="{% url 'export_listE_xls' %}" class="btn btn-primary mr-2 ml-2" style="width: 70%">Список оборудования</a></center>
     <br> 
    
   <ul>
      <li>Пожалуйста, сначала прочтите инструкцию  полностью:</li>
      <li>Для успешной загрузки приборов используйте только файлы EXEL.xls  (xlsx не поддерживается)</li>
      <li>Предполагается, что у вас уже есть EXEL или WORD файлы со списками оборудования и информацию вы скопируете из них в выгруженные шаблоны.
         Требуются отдельные списки для СИ/ИО/ВО. В каждом списке для каждой строки единицы оборудования должны присутствовать столбцы: 
         "Наименование" и "Тип/Модификация" (и плюс к ним "Номер в госреестре" для СИ)</li>
      <li>Выгрузите шаблоны файлов (для этого есть кнопки ниже), <b>нажмите "разрешить редактирование"</b> 
         вверху открытого файла и внесите необходимую информацию на первом листе. На втором листе вы найдете пример заполнения и пояснения</li>
      <li>Заполненные шаблоны  поочередно загрузите в необходимые разделы</li>
      <li>В каждом файле есть столбцы обязательные для заполнения - их заголовки выделены синим жирным шрифтом; 
         и есть столбцы не обязательные - но желательные для удобства дальнейшей работы. 
         Если не заполнить обязательный столбец - информация не загрузится</li>
      <li>Если информация уже была добавлена ранее, то повторно она не загрузится, даже если будет в файле. </li>
        <li> Если в вашем файле дублируется информация, то она будет внесена только 1 раз (как и полагается): 
      например, если у вас несколько одинаковых барометров, то в вашем файле есть строки с одинаковым сочетанием "Номер в госреестре",
      "Наименование", "Тип/модификация": удалять подобные дубликаты не требуется, госреестр будет внесен 1 раз, 
        далее на его основе сформируется необходимое количество приборов.</li>
      <li>Нельзя менять названия заголовков столбцов в шаблонных файлах для загрузки.</li>
      <li>Прибор формируется из характеристик СИ/ИО/ВО  и единицы ЛО, затем к СИ и ИО добавляются сведения о поверке, калибровке и аттестации. 
         Необходимо последовательно выполнить все 4 шага ниже.</li>
       <li>Если вы хотите удалить загруженную информацию - воспользуйтесь загрузкой файлов с кнопками для удаления в правой колонке. 
          Туда можно загрузить те же файлы, что вы использовали для загрузки, и информация будет удалена. 
          Удаление характеристик СИ/ИО/ВО требует предварительного удаления единиц СИ/ИО/ВО, в противном случае характеристики не будут удалены. </li>
         <li> Файлы добавляют записи, но НЕ редактируют существующие. Если запись уже была, то строка будет просто пропущена.</li>
      <li>Для загрузки поверки/калибровки/аттестации: даты должны быть в формате: гггг-мм-дд или дд.мм.гггг или дд.мм.гг или дд/мм/гггг или дд/мм/гг. Формат ячейки должен быть ТЕКСТОВЫЙ. Если в Вашем исходном файле датовый формат, то преобразуйте его так: 1)  в отдельном столбце введите формулу =ТЕКСТ(A2;"ГГГ-ММ-ДД")   где А2 - это ячейка с исходной датой. Потяните за правый уголок и сделайте это для всего столбца. 2) Скопируйте полученный столбец 3) Выделите место вставки, нажмите правой клавишой и выберите "специальная вставка - вставить значения - значения"
</li>
      <li>Если возникли вопросы по загрузке приборов через EXEL, то обратитесь к администрации сайта и вам помогут или загрузят приборы для вас: <a href={% url 'contacts' %}> контакты</a> </li>
   </ul>

   <hr>

  <center><h5>Шаг первый: загружаем характеристики СИ/ИО/ВО</h5></center>
   <i>*Рекомендован для более детального описания характеристик, для корректной формы документов в дальнейшем. Шаг можно пропустить. </i>
  <br>

   {# загрузка характеристик СИ/ИО/ИО#}
   <div class="container">
   <div class="row">
      <div class="col-3"> 
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
         <br>
         <center><a href="{% url 'export_TestingEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики ИО"</a></center>
         <br>
         <br>
         <br>
        <center> <a href="{% url 'export_HelpingEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики ВО"</a></center>
      </div>

      <div class="col-4">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="MeasurEquipmentCharakters_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ Характеристики СИ</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="TestingEquipmentCharakters_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls  и ДОБАВИТЬ Характеристики ИО</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="HelpingEquipmentCharakters_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ Характеристики ВО</button>
         </form>
         </center>
         
      </div>
   
   <hr>


         <div class="col-4">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="MeasurEquipmentCharakters_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ Характеристики СИ</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="TestingEquipmentCharakters_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ Характеристики ИО</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="HelpingEquipmentCharakters_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ Характеристики ВО</button>
         </form>
         </center>
         
      </div>
   </div>
   </div>
   
   <hr>

  <center><h5>Шаг второй: загружаем единицы ЛО и единицы СИ/ИО/ВО</h5></center>
  <br>

   {# загрузка единиц ЛО и единиц СИ/ИО/ВО #}
   <div class="container">
   <div class="row">
      <div class="col-3"> 
         <center><a href="{% url 'export_MeasurEquipment_Equipment_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "единицы СИ и Единицы ЛО"</a></center>
         <br>
         <br>
         <br>
         <center><a href="{% url 'export_TestingEquipment_Equipment_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "единицы ИО и Единицы ЛО"</a></center>
         <br>
         <br>
         <br>
        <center> <a href="{% url 'export_HelpingEquipment_Equipment_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "единицы ВО и Единицы ЛО"</a></center>
      </div>

      <div class="col-4">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="MeasurEquipment_Equipment_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ единицы СИ и Единицы ЛО</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="TestingEquipment_Equipment_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ единицы ИО и Единицы ЛО</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="HelpingEquipment_Equipment_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ единицы ВО и Единицы ЛО</button>
         </form>
         </center>
         
      </div>  
   <hr>

      <div class="col-4">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="MeasurEquipment_Equipment_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ единицы СИ и Единицы ЛО</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="TestingEquipment_Equipment_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ единицы ИО и Единицы ЛО</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="HelpingEquipment_Equipment_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ единицы ВО и Единицы ЛО</button>
         </form>
         </center>
         
      </div>
   </div>
   </div>
   
   <hr>

  <center><h5>Шаг третий: загружаем поверку, калибровку и аттестацию</h5></center>
  <br>

   {# загрузка поверки и аттестации #}

     <div class="container">
   <div class="row">
      <div class="col-3"> 
         <center><a href="{% url 'export_Verificationequipment_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Поверка СИ"</a></center>
         <br>
         <br>
         <br>
         <center><a href="{% url 'export_Calibrationequipment_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Калибровка СИ"</a></center>
         <br>
         <br>
         <br>
        <center> <a href="{% url 'export_Attestationequipment_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Аттестация ИО"</a></center>
      </div>

      <div class="col-4">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="Verificationequipment_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ поверку СИ</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="Calibrationequipment_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ калибровку СИ</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="Attestationequipment_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ аттестацию ИО</button>
         </form>
         </center>
         
      </div>  
   <hr>

      <div class="col-4">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="Verificationequipment_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ поверку СИ</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="Calibrationequipment_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ калибровку СИ</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="Attestationequipment_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ аттестацию ИО</button>
         </form>
         </center>
         
        </div>
   </div>
   </div>
   
   <hr>

  <center><h4>Дополнительно</h4></center>
       <br>
<center><h5>Загрузка описание мероприятий по ТО  (для графика ТОиР)</h5></center>
  <br>

   {# загрузка ТОиР #}

     <div class="container">
   <div class="row">
      <div class="col-3"> 
         <center><a href="{% url 'export_ServiceME_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "ТО СИ"</a></center>
         <br>
         <br>
         <br>
         <center><a href="{% url 'export_ServiceTE_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "ТО ИО"</a></center>
         <br>
         <br>
         <br>
        <center> <a href="{% url 'export_ServiceHE_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "ТО ВО"</a></center>
      </div>

      <div class="col-4">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="ServiceEquipment_MeasurEquipment_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ ТО СИ</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="ServiceEquipment_TestingEquipment_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ ТО ИО</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="ServiceEquipment_HelpingEquipment_file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и ДОБАВИТЬ ТО ВО</button>
         </form>
         </center>
         
      </div>  
   <hr>

      <div class="col-4">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="ServiceEquipment_MeasurEquipment_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ ТО СИ</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="ServiceEquipment_TestingEquipment_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ ТО ИО</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="ServiceEquipment_HelpingEquipment_file_del">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls и УДАЛИТЬ ТО ВО</button>
         </form>
         </center>
         
      </div>


      
   </div>
   </div>
   
   <hr> 
<br>

   {% endif %} 
</div>
{% endblock %}

            
          
         
