{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Документы и принадлежности
{% endblock %}


{% block content %}
<div class="col-8"> 
         {% if title.kategory == 'СИ' %}
            <center><h4>Документы и принадлежности: <a href="/equipment/measureequipment/{{title.exnumber}}/">
            {{ title.exnumber|slice:":5"}}, {{title.measurequipment_set.all.last.charakters}}, зав. № {{title.lot}}  </a> </h4></center>
            <br><br>
         {% elif title.kategory == 'ИО' %}
            <center><h4>Документы и принадлежности: <a href="/equipment/testequipment/{{title.exnumber}}/">
            {{ title.exnumber|slice:":5" }}, {{title.testingequipment_set.all.last.charakters}}, зав. № {{title.lot}}  </a> </h4></center>
            <br><br>
         {% elif title.kategory == 'ВО' %}
            <center><h4>Документы и принадлежности: <a href="/equipment/helpequipment/{{title.exnumber}}/">
            {{ title.exnumber|slice:":5" }}, {{title.measurequipment_set.all.last.charakters}}, зав. № {{title.lot}}  </a> </h4></center>
            <br><br>
         {% endif %}
         {#таблица #}
        <br>
        <center>
        <table class="table table-bordered">
        <thead>
        <tr>
        <th>Название</th>
        <th> Происхождение </th>
        <th> Дата появления</th>
            {% if USER_HAVE_RIGHTS %} 
            <th> Удалить </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
        <tr>
        <td> {{ obj.docs }}</td>
        <td > {{ obj.source }}</td>
        <td > {{ obj.date}}</td>
            {% if USER_HAVE_RIGHTS %} 
        <td> <a href="{% url 'documentsdelete' obj.pk %}"  class="btn btn-outline-primary mt-3">удал</a></td> 
             {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {# конец таблицы #}
         </center>
        </center> 
    {% if USER_HAVE_RIGHTS %} 
        {#форма для внесения документа#}
          <br><br>
        <center>
        <h5>Добавить</h5>
        <form method="post" enctype="multipart/form-data" class="form-register">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-warning" type="submit">Записать</button>
        </form>
        {#конец формы#}
         </center>
     {% endif %}
        <br>
</div>
{% endblock %}
