{% extends 'main/superbase.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block title %}
{{ obj.charakters.name}}
{% endblock %}


{% block content %}
<div class="col-12">  

    {#название#}
    <center><a href="/equipment/helpingequipmentall/"><h4>{{ obj.charakters.name}}</h4></a></center>
    <center>
        <h6>тип/модификация: {{ obj.charakters.typename|default:" " }}
        Заводской номер: <b>{{ obj.equipment.lot }}</b></h6>
    </center>
    <br>

{% if  obj.equipment.get_status_display  == 'Экс.' %}    
 <center> <h4> Статус: в эксплуатации </h4> </center>
{% elif  obj.equipment.get_status_display  == 'Рем.' %}    
 <center> <h4> Статус: в ремонте </h4> </center>
    {% elif  obj.equipment.get_status_display  == 'Сп.' %}    
 <center> <h4> Статус: списан </h4> </center>
    {% elif  obj.equipment.get_status_display  == 'Рез.' %}    
 <center> <h4> Статус: в резерве </h4> </center>
    {% elif  obj.equipment.get_status_display  == 'Др.' %}    
 <center> <h4> Статус: другое </h4> </center>
    
{% endif %}

    
    
    {#таблица неизменные сведения о приборе#}
    <center>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Категория</th>
                    <th>Внут.№</th>
                    <th> Название </th>
                    <th> Тип/модификация</th>
                    <th> Заводской № </th>
                    <th> Год выпуска </th>
                    <th> Производитель </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ obj.equipment.kategory|default_if_none:"нет" }}</td>
                <td>{{ obj.equipment.exnumber|slice:":5" }}</td>  
                <td> {{ obj.charakters.name }}</td>
                <td>{{ obj.charakters.typename|default:" " }}</td>
                <td> {{ obj.equipment.lot }}</td>
                <td> {{ obj.equipment.yearmanuf }}</td>
                <td> {{ obj.equipment.manufacturer.country }},
                 {{ obj.equipment.manufacturer.companyName }}</td>
            </tr>
          </tbody>
        </table>
    </center>
    
    {#примечание#}
    <br>
    {% if obj.equipment.notemaster  %}
    <div style="text-align: center; margin-top: 2px; color: red" ><h6>Внимание!</h6>
    <table class="table table-bordered">
    <td colspan="6">
    <div class="TransactionAmount Badresult">
    {{ obj.equipment.notemaster }}
    </div>
    </td>
    </table>
    </div>
    {% endif %}
    <div style="text-align: center; margin-top: 40px">
    {#конец примечания#}
    
    {#особенности прибора, если имеются#}
    {% if obj.equipment.individuality  %}
    <div style="text-align: center; margin-top: 2px"><h6>Особенности работы прибора</h6>
    <table class="table table-bordered">
    <td colspan="6">{{ obj.equipment.individuality }}</td>
    </table>
    </div>
    {% endif %}
    {#конецособенности прибора, если имеются#}
    
    {#контакты для ремонта#}
    {% if obj.equipment.repair  %}
    <div style="text-align: center; margin-top: 2px"><h6>Куда обратиться при поломке</h6>
    <table class="table table-bordered">
    <td colspan="6">{{ obj.equipment.repair }}</td>
    </table>
    </div>
    {% endif %}
    {# конец контакты для ремонта#}
    
    {#записи о приборе#}
    <div style="text-align: center; margin-top: 10px"><h4>Внести запись в карточку прибора* </h4></div>    
    <div style="text-align: center; margin-top: 10px">
     <a href="{% url 'equipmentcomments'  obj.equipment.exnumber %}"  class="btn btn-primary mt-2">
         Внести запись о приборе и смотреть записи (для всех пользователей)</a></div>
    {#конец записи о приборе#}
    
    {% if USER_AND_OWNER_HAVE_RIGHTS %}      
    {#изменение сведений о приборе#}
    <div style="text-align: center; margin-top: 40px"><h4>Обновить сведения о приборе (раздел для продвинутого пользователя) </h4></div>
    <div style="text-align: center; margin-top: 20px">
     <a href="/equipment/equipmentind/{{ obj.equipment.exnumber }}/individuality/"  class="btn btn-primary mt-2">
         Добавить особенности работы прибора, инструкцию и пр. (для ответственного за прибор или продвинутого пользователя)</a></div>
    </div>
    {#конец изменение сведений о приборе#}
    {% endif %}
    
    
    {#расположение и комплектность#}
    <div style="text-align: center; margin-top: 40px"><h4>Расположение и комплектность </h4></div>
    <div style="text-align: center;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> № <br> комн. </th>
                <th> Ответственный </th>
                <th> Документы и принадлежности</th>
                <th> Год <br> ввода в&nbspэксп.</th>
                <th> Новый <br>или&nbsp&nbsp б/у</th>
                <th> Статус</th>
             </tr>
        </thead>
        <tbody>
        <tr>
            {% if obj.equipment.roomschange_set.last.roomnumber.roomnumber %}      
            <td> <a href="{% url 'roomchangelist' obj.equipment.pk %}" target="blank" class="btn btn-outline-primary mt-3">
           {{ obj.equipment.roomschange_set.last.roomnumber.roomnumber|default:"не указан" }}</a></td>
            {% else %}
            <td>не указан</td>
            {% endif %}
            
            {% if obj.equipment.personchange_set.last.person.profile %}
            <td> <a href="{% url 'personchangelist' obj.equipment.pk %}" target="blank" class="btn btn-outline-primary mt-3">
             {{ obj.equipment.personchange_set.last.person.profile.short_name|default:"не указан" }}</a></td>
            {% else %}
            <td>не указан</td>
            {% endif %}
            
            <td><a href="/equipment/docsreg/{{ obj.equipment.exnumber }}/" target="blank" class="btn btn-outline-primary mt-3">
                см</a></td>
            <td> {{ obj.equipment.yearintoservice }}</td>
            <td> {{ obj.equipment.new }}</td>
            <td> {{ obj.equipment.get_status_display }}</td>
        </tr>
        </tbody>
    </table>
    </div>
    
    {# расположение кнопки#}
    <div style="text-align: center; margin-top: 10px">
        {% if USER_HAVE_RIGHTS %}
     <a href="/equipment/personchangereg/{{ obj.equipment.exnumber }}/" target="blank" class="btn btn-primary mt-2 mr-2 ml-2 style="width:20%"> 
         Поменять ответственного</a>
         <a href="/equipment/roomschangereg/{{ obj.equipment.exnumber }}/" target="blank" class="btn btn-primary mt-2 mr-2 ml-2 style="width:20%">
         Поменять помещение</a>
        {% endif %}
     <a href="/equipment/docsreg/{{ obj.equipment.exnumber }}/"  class="btn btn-primary mt-2 mr-2 ml-2 style="width:40%">
         Смотреть список и Добавить документы и принадлежности</a></div>
    
    {#инструкция#}
    <div style="text-align: center; margin-top: 40px"><h4>
    Характеристики и инструкции</h4></div>
    
    <div style="text-align: center;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Паспорт</th>
                <th> Инструкция по эксплуатации</th>
             </tr>
        </thead>
        <tbody>
        <tr>
                 <td class="ind">
                 {% if obj.pasport %}
                  <a href="{{ obj.pasport}}"  target="blank" >
                 Ссылка на паспорт
                      </a>
                 {% else  %}
                 Ссылка на паспорт отсутствует
                 {% endif %}
             </td>
             <td class="ind">
             {% if obj.instruction %}
              <a href="{{ obj.instruction}}"  target="blank" >
             Ссылка на инструкцию
                  </a>
             {% else  %}
             Ссылка на инструкцию отсутствует
             {% endif %}
             </td>
        </tr>
        </tbody>
    </table>
    </div>


    {# ТОиР  #}
    <div style="text-align: center; margin-top: 40px"><h4>
    Техническое обслуживание (ТОиР)</h4></div>
    
    <div style="text-align: center;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Описание мероприятий по ТО</th>
                <th> План по ТО-2 (планировать и отмечать) </th>
                {% if USER_HAVE_RIGHTS %}
                <th> Добавить/удалить прибор в график ТОиР </th>
                <th> Включать в график ТОиР при автоформировании графика </th>
                {% endif %}
             </tr>
        </thead>
        <tbody>
        <tr>


            {% if obj.charakters.serviceequipmenthe and POINTER == obj.charakters.serviceequipmenthe.pointer and USER_HAVE_RIGHTS %}
              <td> <a href="{% url 'toreghe' obj.charakters.pk %}" target="blank" class="btn btn-outline-primary mt-3">редактировать</a></td>  
            {% elif obj.charakters.serviceequipmenthe and POINTER != obj.charakters.serviceequipmenthe.pointer %}
             <td> <a href="{% url 'tohe' obj.charakters.serviceequipmenthe.pk %}" target="blank" class="btn btn-outline-primary mt-3">смотреть</a></td>  
            {% elif obj.charakters.serviceequipmenthe and not USER_HAVE_RIGHTS %}
             <td> <a href="{% url 'tohe' obj.charakters.serviceequipmenthe.pk %}" target="blank" class="btn btn-outline-primary mt-3">смотреть</a></td>  
            {% elif USER_HAVE_RIGHTS and  not obj.charakters.serviceequipmenthe %}
            <td> <a href="{% url 'toreghe' obj.charakters.pk %}" target="blank" class="btn btn-outline-primary mt-3">добавить</a></td>
            {% else %}
            <td> не указано </td>
            {% endif %}

            
            
             <td>         
            <form action="{% url 'serviceplan' obj.equipment.pk %}" method="GET">
            <input type="hidden" name="equipment_pk" value="{{obj.equipment.pk}}">
            {% csrf_token %}
            {% crispy lookyearform %}
                
            </form>
             
             </td> 
            
            <td> <a href="{% url 'itemserviceupdate' obj.equipment.pk %}"  class="btn btn-outline-primary">добавить/удалить</a></td>    
                                                  <td> {% if obj.equipment.serviceneed %}
                  да
                  {% else %}
                  нет
                  {% endif %}
              </td>
        </tr>
        </tbody>
    </table>
    </div>


       {# для Росаккредитации  #}
    <div style="text-align: center; margin-top: 40px"><h4>
    Детали</h4></div>
    
    <div style="text-align: center;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Назначение</th>
                {% if USER_HAVE_RIGHTS %}
                <th> Редактировать </th>
                {% endif %}
             </tr>
        </thead>
        <tbody>
        <tr>
            <td>  {{ obj.aim|default:" "  }} </td>




{% if USER_HAVE_RIGHTS %}
            
            <td> <a href="{% url 'heupdate' obj.pk %}"  class="btn btn-outline-primary"> ред </a></td>  
            {% endif %}
        </tr>
        </tbody>
    </table>
    </div>


    
    {# бухгалтерия  #}
    <div style="text-align: center; margin-top: 40px"><h4>
    Бухгалтерские сведения</h4></div>
    
    <div style="text-align: center;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Стоимость, руб</th>
                <th> Инвентарный № <br> (НЕ = внут.№) </th>
                <th> Право владения прибором </th>
             </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ obj.equipment.price|default:" " }}</td>
            <td> {{ obj.equipment.invnumber|default:"б/н" }}</td>
            <td> {{ obj.equipment.pravo|default:" " }}</td>
        </tr>
        </tbody>
    </table>
    </div>
        <br>
        <br>
    </div>
    <p><i>    *ГОСТ ISO/IEC 17025-2019, п.6.4.13: "Должны вестись записи о состоянии оборудования
        ...должны включать...
    подробную информацию о любых повреждениях, неисправностях, модификациях или ремонте..."</i></p>
</div>
{% endblock %}
