{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
    ТОиР
{% endblock %}
{#конец названия страницы#}

{% block content %}
<div class="col-12">  


    <a href="{% url 'service' %}">
    <div style="text-align: center;"><h4> Смотреть и редактировать график ТОиР на {{year}} год</h4></div>
    </a>
    
{#форма для поиска по полям #}
      <div style="text-align: center; margin-top: 25px">
   <h6>Найти оборудование по внутреннему номеру </h6> 
</div>
    <div style="text-align: center; margin-top: 25px">
        <form action={% url "serviceyearsearchresult" %} method="GET">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{#конец формы для поиска#}

<hr>


    
{#основная таблица#}


<div style="text-align: center; margin-top: 25px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Оборудование (внутренний номер)</th>
                <th>Тип оборудования</th>
                <th>Название оборудования</th>
                <th>Год ТО</th>
                <th>План по ТО-2 (планировать и отмечать)</th>
             </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
        <tr>
            {% if obj.equipment.measurequipment %}
            <td> <a href="{% url 'measureequipment' obj.equipment.exnumber %}"  class="btn btn-outline-primary">{{obj.equipment.exnumber| slice:":5"}}</a></td> 
            {% elif obj.equipment.testingequipment  %}
            <td> <a href="{% url 'testequipment' obj.equipment.exnumber %}"  class="btn btn-outline-primary">{{obj.equipment.exnumber| slice:":5"}}</a></td> 
            {% elif obj.equipment.helpingequipment %}
            <td> <a href="{% url 'helpequipment' obj.equipment.exnumber %}"  class="btn btn-outline-primary">{{obj.equipment.exnumber| slice:":5"}}</a></td>
            {% else %}
            <td> {{obj.equipment.exnumber| slice:":5"}}</td>            
            {% endif %}

            <td> {{obj.equipment.kategory}}</a></td> 

            {% if obj.equipment.measurequipment %}
            <td> {{obj.equipment.measurequipment.charakters.name}}</td> 
            {% elif obj.equipment.testingequipment  %}
            <td> {{obj.equipment.testingequipment.charakters.name}}</td> 
            {% elif obj.equipment.helpingequipment %}
            <td> {{obj.equipment.helpingequipment.charakters.name}}</td>
            {% else %}
            <td> </td>            
            {% endif %}

            <td> {{obj.year}}</a></td> 




            
            <td> <a href="{% url 'serviceplan' obj.pk %}"  class="btn btn-outline-primary button type="submit"">СМ</a></td> 
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}

    
</div>
{% endblock %}

