{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
    ТОиР
{% endblock %}
{#конец названия страницы#}

{% block content %}
<div class="col-8">  
{#заголовок#}
    <a href="{% url 'service' %}">
    <center><h4> ТО-2 ежеквартальное техобслуживание для оборудования вн.№ {{obj.equipment.exnumber|slice:":5"}} за {{year}} год</h4></center>
        {% if obj.equipment.measurequipment %}
        <center><h4> Характеристики оборудования: название: {{obj.equipment.measurequipment.charakters.name}}; тип/модификация: {{obj.equipment.measurequipment.charakters.typename}}; госреестр: {{obj.equipment.measurequipment.charakters.reestr}} </h4></center>
{% elif obj.equipment.testingequipment %}
        <center><h4> Характеристики оборудования: название: {{obj.equipment.testingequipment.charakters.name}}; тип/модификация: {{obj.equipment.testingequipment.charakters.typename}} </h4></center>
{% elif obj.equipment.helpingequipment %}
        <center><h4> Характеристики оборудования: название: {{obj.equipment.helpingequipment.charakters.name}}; тип/модификация: {{obj.equipment.helpingequipment.charakters.typename}} </h4></center>
        {% endif %}
    </a>
    <br>

{#конец заголовка #}
    
 <center><h6>Примечание по ТО</h6></center>
    <center>  <table class="table table-bordered">
      <tr><td>{{obj.commentservice }}</td></tr>
</table></center>
    <br>
    <hr>


        {#описание ТО#}
    <div style="text-align: center; margin-top: 10px"><h6>Описание мероприятий по ТО </h6></div>    
    <div style="text-align: center; margin-top: 10px">


        

            {% if obj.equipment.measurequipment and obj.equipment.measurequipment.charakters.serviceequipmentme.pk %}
            <a href="{% url 'tome' obj.equipment.measurequipment.charakters.serviceequipmentme.pk %}"  class="btn btn-primary" target="blank">Смотреть</a></div>
            {% elif obj.equipment.testingequipment and obj.equipment.testingequipment.charakters.serviceequipmentte.pk %}
            <a href="{% url 'tote' obj.equipment.testingequipment.charakters.serviceequipmentte.pk %}"  class="btn btn-primary" target="blank">Смотреть</a></div>
            {% elif obj.equipment.helpingequipment and obj.equipment.helpingequipment.charakters.serviceequipmenthe.pk %}
            <a href="{% url 'tohe' obj.equipment.helpingequipment.charakters.serviceequipmenthe.pk %}"  class="btn btn-primary" target="blank">Смотреть</a></div>
            {% else %}
             Не описано  

{% if obj.equipment.measurequipment %}
<a href="{% url 'measurequipmentcharacterslist' %}"  class="btn btn-primary">Добавить</a></div>
{% elif obj.equipment.testingequipment %}
<a href="{% url 'testingequipmentcharacterslist' %}"  class="btn btn-primary">Добавить</a></div>
{% elif obj.equipment.helpingequipment %}
<a href="{% url 'helpingequipmentcharacterslist' %}"  class="btn btn-primary">Добавить</a></div>
{% else %}
             Не описано

</div>    

            {% endif %}
{% endif %}




        



    
         
     <br>
     <hr>
    {#конец описание ТО#}
    

    {#записи о приборе#}
    <div style="text-align: center; margin-top: 10px"><h6>Внести запись о ТО-2 в карточку прибора (если требуется) </h6></div>    
    <div style="text-align: center; margin-top: 10px">
     <a href="/equipment/measureequipment/{{ obj.equipment.exnumber }}/comments/"  class="btn btn-primary mt-2">
         Внести запись о приборе и смотреть записи (для всех пользователей)</a></div>
     <br>
    {#конец записи о приборе#}

    
{#основная таблица#}
<div class="container">
    <div class="row">
<div class="col-6"> 

    <center><h5>План</h5></center>
    {% if USER_HAVE_RIGHTS %}
     <center>   <a href="{% url 'serviceplanupdate' obj.pk %}"  class="btn btn-primary mt-2 mb-2">Поменять план</a></center>
    {% endif %}     
    <center>
    <table class="table table-bordered">
      <tr><th>Январь</th> <td>{{obj.t2month1|yesno}}</td></tr> 
      <tr><th>Февраль</th> <td>{{obj.t2month2|yesno}}</td></tr>
      <tr><th>Март</th> <td>{{obj.t2month3|yesno}}</td></tr>
      <tr><th>Апрель</th> <td>{{obj.t2month4|yesno}}</td></tr>
      <tr><th>Май</th> <td>{{obj.t2month5|yesno}}</td></tr>
      <tr><th>Июнь</th> <td>{{obj.t2month6|yesno}}</td></tr>
      <tr><th>Июль</th> <td>{{obj.t2month7|yesno}}</td></tr>
      <tr><th>Август</th> <td>{{obj.t2month8|yesno}}</td></tr>
      <tr><th>Сентябрь</th> <td>{{obj.t2month9|yesno}}</td></tr>
      <tr><th>Октябрь</th> <td>{{obj.t2month10|yesno}}</td></tr>
      <tr><th>Ноябрь</th> <td>{{obj.t2month11|yesno}}</td></tr>
      <tr><th>Январь</th> <td>{{obj.t2month12|yesno}}</td></tr>
    </table>
        </center>
</div>



<div class="col-6"> 

    <center><h5>Факт</h5></center>
   <center> <a href="{% url 'servicefactupdate' obj2.pk_pointer %}" class="btn btn-primary mt-2 mb-2">Поменять факт</a></center>  
    <center>
    <table class="table table-bordered">
      <tr><th>Январь</th> <td>{{obj2.t2month1|yesno}}</td></tr> 
      <tr><th>Февраль</th> <td>{{obj2.t2month2|yesno}}</td></tr>
      <tr><th>Март</th> <td>{{obj2.t2month3|yesno}}</td></tr>
      <tr><th>Апрель</th> <td>{{obj2.t2month4|yesno}}</td></tr>
      <tr><th>Май</th> <td>{{obj2.t2month5|yesno}}</td></tr>
      <tr><th>Июнь</th> <td>{{obj2.t2month6|yesno}}</td></tr>
      <tr><th>Июль</th> <td>{{obj2.t2month7|yesno}}</td></tr>
      <tr><th>Август</th> <td>{{obj2.t2month8|yesno}}</td></tr>
      <tr><th>Сентябрь</th> <td>{{obj2.t2month9|yesno}}</td></tr>
      <tr><th>Октябрь</th> <td>{{obj2.t2month10|yesno}}</td></tr>
      <tr><th>Ноябрь</th> <td>{{obj2.t2month11|yesno}}</td></tr>
      <tr><th>Январь</th> <td>{{obj2.t2month12|yesno}}</td></tr>
    </table>
        </center>
</div>
    




        
</div>
</div>
    


</div>
{% endblock %}
