{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
{{ obj.metatitle |default_if_none:"статья про лабораторное оборудование"  }}
{% endblock %}
{% block keywords %}
    <meta name="keywords" lang="ru" content="{{ obj.keywords }}">
{% endblock %}
{% block description %}
<meta name="description" content="{{ obj.description }}">
{% endblock %}
{#конец названия страницы#}

{% block content %}

{#основная таблица#}
{# уникальная #}
  <div class="col-8">
    
<table class="table table-bordered flexy1">
    <tbody>

    <tr>
        <td>{{ obj.date }}<br><h4>{{ obj.title }}</h4>
            <br> {% autoescape off %}{{ obj.text }}{% endautoescape %}
        </td>
    </tr>

    </tbody>
</table>
{#конец основной таблицы#}
    <div style="text-align: center;">

    <a href="{% url 'contact_page' %}" class="btn btn-warning  mr-2 ml-2 mt-3 " style="width: 300px">Задать вопрос администрации сайта</a>
</div>
<!--{#форма для комментария#}-->
<!--<div style="text-align: center;"><h5></h5></div>-->

<!--</div>-->
<!--{#конец форма для комментария#}-->
<!--{#комментарии#}-->
<!--{% for comm in comments %}-->
<!--    <div style="text-align: center; margin-top: 10px">-->
<!--        <table class="table table-bordered">-->
<!--            <tbody>-->
<!--                <tr>-->
<!--                    <td>{{ comm.date }}<h6>{{ comm.author }}</h6>-->
<!--                        <br> {{ comm.text }}-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--{% endfor %}-->
<!--{#конецкомментарии#}-->
<!--{#форма для комментария#}-->
<!--<div style="text-align: center;">-->
<!--    <form method="post" class="form-register">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button class="btn btn-outline-warning" type="submit">Комментировать</button>-->
<!--    </form>-->
<!--</div>-->
<!--{#конец форма для комментария#}-->
  </div>
{% endblock %}

