{% extends 'main/base.html' %}
{% load static %}

{% block title %}
   ///
{% endblock %}

<!-- {% block keywords %}
    <meta name="keywords" lang="ru" content="ЛИС, ЛИМС, лабораторная информационная система,
    электронный лабораторный журнал, электронная записаная книжка,
    поверка приборов, поверка средств измерений, аттестация испытательного борудования, журнал микроклимата в лаборатории,
    журнал метеорологических условий, график техобслуживания, вспомогательное оборудование, карточки на приборы, контакты
    для заказа электронного лабораторного журнала">
{% endblock %}

{% block description %}
    <meta name="description" content="Контакты сайта для химических лабораторий. Сайт позволяет вести учет оборудования в
    лаборатории, автоматизирует
    поверку средств измерений, аттестацию испытательного оборудования, выгрузку форм документов на оборудование,
    лабораторный журнал микроклимата. На сайте представлен электронный журнал
     - иначе - электронная записаня книжка для лабораторий - призванный заменить бумажные лабораторные журналы">
{% endblock %} -->

{% block content %}
<div class="col-8">
        <center> 

  <table class="table table-bordered flexy">
        <tr>
            <td>{% autoescape off %}{{ obj.text }}{% endautoescape %}</td>        
        </tr>
    </table>
 </center>


    <center>
        <a href="{% url 'manual' %}" class="btn btn-primary  mr-2 ml-2 mt-2 " style="width: 80%"> Читать подробную инструкцию по работе с сайтом</a>
    </center>
   <br>
    <center>
        <a href="{% url 'contacts' %}" class="btn btn-primary  mr-2 ml-2 mt-2 " style="width: 80%"> Написать администрации сайта</a>
    </center>
   {% if not user.is_authenticated %}
    <br>
       <center>
        <a href="{% url 'heademployeereg' %}" class="btn btn-success  mr-2 ml-2 mt-2 " style="width: 80%"> Попробовать бесплатно</a>
    </center>
    <br>
   <center>30 дней бесплатно. Без обязательств.</center>
   {% endif %}
    <br>
  
</div>
{% endblock %}

