{% extends 'main/superbase.html' %}


{#название страницы#}
{#стандартная#}
{% block title %}
{{obj.title}} 
{% endblock %}
{#конец названия страницы#}


    {% block metaname %}<meta name="description" content="{{obj.metatitle}}" >{% endblock %}
    {% block keywords %}<meta name="keywords" content="{{obj.keywords}}">{% endblock %}
    {% block description %}<meta name="description" content="{{obj.description}}">{% endblock %}


{% block content %}
{% autoescape off %}

<div class="col-12">
         
   <center>  <h3><a href="/chem/atomlaws"> {{numbertitle}} </a></h3>     
   </center>
     <br>

  <center> 
      <p style="display: block; width: 100%; text-align: center !important; font-family: Georgia; font-size: 16pt; ">
     Вопросов в тесте: {{count}}    
      </p>
  </center>

  <br>  <br>
{% if q1 != 0 %}
       <center>   <a href="{% url 'atomlawtestquestion' q1 %}"  class="btn btn-primary  mt-2 mr-2 ml-2"> 
       Перейти к вопросам
   </a></center> 
 {% endif %}   
  <br>  <br>

 </div>

<div class="col-4">

    </div>
{% endautoescape %}
{% endblock %}
