{% extends 'main/superbase.html' %}


{#название страницы#}
{#стандартная#}
{% block title %}
{{obj.title}} 
{% endblock %}
{#конец названия страницы#}


    {% block metaname %}<meta name="description" content="{{obj.metatitle}}" >{% endblock %}
    {% block keywords %}<meta name="keywords" content="{{obj.keywords}}">{% endblock %}
    {% block description %}<meta name="description" content="{{obj.description}}">{% endblock %}


{% block content %}
{% autoescape off %}

<div class="col-8">
         
   <center>  <h3><a href="/chem/atomlaws"> Законы общей химии </a></h3>     </center>
{#основная таблица#}



 
 
            <center><h2>Закон № {{ obj.number }} <br>{{ obj.title }}</h2></center>
        
            <table class="table table-bordered flexy1">
            <tbody>
            <tr>
            <td class="ind1">
                {{ obj.text }}
            </td>
            </tr>
            </tbody>
            </table>

            <table class="table table-bordered flexy">
            <tbody>
            <tr>
            <td>
                <h4>Общая формула закона</h4>
                <br>
                {{ obj.formula }}
            </td>
            </tr>
            </tbody>
                </table>
   <center>  <div class="media text-muted flex-column align-items-center pt-3">
       {% if obj.img1 %} <img class="bd-placeholder-img mr-2 rounded" width=70% height=70% src="{{ obj.img1.url }}">{% endif %}         <br>
</div></center> 
        <br>
                    <center>    <div class="media text-muted flex-column align-items-center pt-3">
       {% if obj.img2 %}<img class="bd-placeholder-img mr-2 rounded" width=70% height=70% src="{{ obj.img2.url }}">{% endif %}
        <br>
                </div></center> 

     <br>
            <table class="table table-bordered flexy1">
            <tbody>
            <tr>
            <td>
                <h4>Примеры</h4>
                <br>
                {{ obj.examples }}
            </td>
            </tr>
            </tbody> 
                </table>

     {% if obj.exceptions %}
                
            <table class="table table-bordered flexy1">
            <tbody>
            <tr>
            <td class="ind1">
                <h4>Исключения</h4>
                <br>
                {{ obj.exceptions }}
            </td>
            </tr>
            </tbody>
                </table>
           {% endif %}

      
                {% if obj.trening %}
            <table class="table table-bordered flexy1">
            <tbody>
            <tr>
            <td>
                <h4>Ссылки</h4>
                <br>
                                <a href="{{ obj.trening}}"  target="blank" >
                ссылка
                </a>
            </td>
            </tr>
            </tbody>
                </table>
                {% endif %}


 {% if obj.video %}
  <br>  <br>
       <center>   <a href="{{ obj.video }}"  class="btn btn-primary  mt-2 mr-2 ml-2" target="_blank" rel="noopener noreferrer"> 
       Посмотрите интересное и наглядное видео с химическими экспериментами!
   </a></center> 
   {% endif %} 

    
  <!-- <br>  <br> -->
       <!-- <center>   <a href="{% url 'atomlawtest' obj.pk %}"  class="btn btn-primary  mt-2 mr-2 ml-2">  -->
       <!-- Перейти к тренировке -->
   <!-- </a></center>  -->

    
  <br>  <br>


               <center>  <div class="media text-muted flex-column align-items-center pt-3">
       {% if obj.img3 %}<img class="bd-placeholder-img mr-2 rounded" width=70% height=70% src="{{ obj.img3.url }}">{% endif %}

</div></center> 
    <br>  <br>

{% if obj.presentation and obj.file_extension == '.pdf' %}
    <div style="margin-top: 20px;">
        <embed src="{{ obj.presentation.url }}#toolbar=0&navpanes=0" 
               type="application/pdf" 
               width="100%" 
               height="600px" />
    </div>
{% endif %} 


    
 <h4>Подробности</h3>
{% for j in qw %}
 <br>  <br>
   

             <p style="display: block; width: 100%; text-align: center !important; font-family: Georgia, serif; font-size: 20pt; font-variant-numeric: oldstyle-nums; margin-left: auto; margin-right: auto;">
<a href="{% url 'atomlawtestanswer' j.pk %}" target="_blank" rel="noopener noreferrer">
           {% if j.text %}       
       {{j.text}} 
         {% endif %}


</a>
</p>


  
 {% endfor %}


 </div>

<div class="col-4">


  <br>  <br>
       <center>   <a href="{% url 'tables' %}"  class="btn btn-primary  mt-2 mr-2 ml-2" target="_blank" rel="noopener noreferrer"> 
       Таблицы
   </a></center> 



    </div>
{% endautoescape %}
{% endblock %}
