{% extends 'main/base.html' %}
{% load static %}
{% block title %}
   Школьная химия ЕГЭ и ОГЭ
{% endblock %}


{% block content %}
<div class="col-8">
    <center><h3>Школьная химия ЕГЭ и ОГЭ</h3></center>
    <br>

    <br>
    <center>
        <a href="{% url 'tables' %}" class="btn btn-primary mr-2 ml-2 mt-2" style="width: 80%"> Таблицы </a>
    </center>
    <br>


   
    <center>
        <a href="{% url 'inorganiclaw' %}" class="btn btn-primary mr-2 ml-2 mt-2" style="width: 80%"> Законы неорганической химии </a>
    </center>
    <br>


    <br>
    <center>
        <a href="{% url 'compaunds' %}" class="btn btn-primary mr-2 ml-2 mt-2" style="width: 80%"> Химические соединения </a>
    </center>
    <br>


    <br>
    <center>
        <a href="{% url 'atomlaws' %}" class="btn btn-primary mr-2 ml-2 mt-2" style="width: 80%"> Законы общей химии </a>
    </center>
    <br>

   <center>
        <a href="{% url 'organiclaw' %}" class="btn btn-primary mr-2 ml-2 mt-2" style="width: 80%"> Законы органической химии </a>
    </center>
    <br>



   
       <br>
    <center>
        <a href="{% url 'links' %}" class="btn btn-primary mr-2 ml-2 mt-2" style="width: 80%"> Полезные ресурсы </a>
    </center>
    <br>
   
</div>
{% endblock %}
