{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
оборудование в лаборатории
{% endblock %}
{#конец названия страницы#}

{% block content %}

{#основная таблица#}
{# уникальная #}
  <div class="col-8">
{% for obj in objects %}
<table class="table table-bordered flexy">
    <tbody>

    <tr>
        <td>{{ obj.date }}<br><h4>{{ obj.title }}</h4>
            <br> {% autoescape off %}{{ obj.text|truncatewords:20 }}{% endautoescape %}
        <a href="{% url 'blogstr' obj.pk %}" target="blank" class="btn btn-warning  mt-3" style="width: 180px">читать далее</a>
        </td>
    </tr>

    </tbody>
</table>
 {% endfor %}
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>


{% endblock %}
{#конец блока {% block content %}"""#}
