{% extends 'main/superbase.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
Вещество
{% endblock %}
{#конец названия страницы#}

    {% block metaname %}<meta name="description" content="{{objcontent.metatitle}}" >{% endblock %}
    {% block keywords %}<meta name="keywords" content="{{objcontent.keywords}}">{% endblock %}
    {% block description %}<meta name="description" content="{{objcontent.description}}">{% endblock %}
    
{% block content %}
{% autoescape off %}
<div class="col-12">
         
   <center>  <p style="width: 100%; text-align: center !important; font-family: Georgia, serif; font-size: 20pt; font-variant-numeric: oldstyle-nums; margin-left: auto; margin-right: auto;"> 
       {{objcontent.name}} </p>    </center>
    <br>
  <center>  <p style="width: 100%; text-align: center !important; font-family: Georgia, serif; font-size: 38pt; font-variant-numeric: oldstyle-nums; margin-left: auto; margin-right: auto;"> 
      {{objcontent.formula}} </p>    </center>
 <br>
                 {% if objcontent.appearance %}
            <center> 

            <table class="table table-bordered flexy1">
                <td>
                     <div style="font-family: Georgia, serif; font-size: 15pt; font-variant-numeric: oldstyle-nums; text-align: left !important; ">
                  {{objcontent.appearance}}
                          </div>
                                 </td>
            </table>
</center>                       
                 {% endif %}   

 <br> <br>

  
<!-- {% for j in qw %} -->


             <p style="display: block; width: 100%; text-align: center !important; font-family: Georgia, serif; font-size: 20pt; font-variant-numeric: oldstyle-nums; margin-left: auto; margin-right: auto;">
<a href="{% url 'inorganiclawtestanswer' j.pk %}" target="_blank" rel="noopener noreferrer">
           {% if j.reagent1 %}       
       {{j.reagent1}} 
         {% endif %}
                 
         {% if j.reagent2 %}
          +  {{j.reagent2}}
         {% endif %}

        {% if j.reagent3 %}
          +  {{j.reagent3}}
         {% endif %}

         =
{% if j.product1 %}
{{j.product1}} 
                  {% endif %}
     {% if j.product2 %}
          + {{j.product2}}
         {% endif %}
      {% if j.product3 %}
          + {{j.product3}}
         {% endif %}
      {% if j.product4 %}
          +{{j.product4}}
         {% endif %}

</a>
</p>


  
 <!-- {% endfor %} -->


</div>

{% endautoescape %}
{% endblock %}
