{% extends 'main/superbase.html' %}


{#название страницы#}
{#стандартная#}
{% block title %}
{{obj.title}} 
{% endblock %}
{#конец названия страницы#}


    {% block metaname %}<meta name="description" content="{{obj.metatitle}}" >{% endblock %}
    {% block keywords %}<meta name="keywords" content="{{obj.keywords}}">{% endblock %}
    {% block description %}<meta name="description" content="{{obj.description}}">{% endblock %}


{% block content %}


<div class="col-12">
         
     <center>   
       <font face="Georgia" size="22">  
         {{reagent1}}
         
         {% if reagent2 %}
          + {{reagent2}}
         {% endif %}

        {% if reagent3 %}
          + {{reagent3}}
         {% endif %}

         =
</font>
           </center>

         <br>

         <center>   
       <font face="Georgia" size="18">  
         {% if condition %}
                   {{condition}}
         {% endif %}
    </font>
           </center>     
  <br>
        {{items}}
  <br>
        {{count}}
  <br>



 </div>



{% endblock %}
