{% extends 'main/superbase.html' %}


{#название страницы#}
{#стандартная#}
{% block title %}
{{obj.title}} 
{% endblock %}
{#конец названия страницы#}


    {% block metaname %}<meta name="description" content="{{obj.metatitle}}" >{% endblock %}
    {% block keywords %}<meta name="keywords" content="{{obj.keywords}}">{% endblock %}
    {% block description %}<meta name="description" content="{{obj.description}}">{% endblock %}


{% block content %}
{% autoescape off %}

<div class="col-8">
         
   <center>  <h3><a href="/chem/inorganiclaw"> Законы неорганической химии </a></h3>     </center>
{#основная таблица#}



 
 
            <center><h2>Закон № {{ obj.number }} <br>{{ obj.title }}</h2></center>
        
            <table class="table table-bordered flexy1">
            <tbody>
            <tr>
            <td class="ind1">
                {{ obj.text }}
            </td>
            </tr>
            </tbody>
            </table>

            <table class="table table-bordered flexy">
            <tbody>
            <tr>
            <td>
                <h4>Общая формула закона</h4>
                <br>
                {{ obj.formula }}
            </td>
            </tr>
            </tbody>
                </table>
   <center>  <div class="media text-muted flex-column align-items-center pt-3">
       {% if obj.img1 %} <img class="bd-placeholder-img mr-2 rounded" width=70% height=70% src="{{ obj.img1.url }}">{% endif %}         <br>
</div></center> 
        <br>
                    <center>    <div class="media text-muted flex-column align-items-center pt-3">
       {% if obj.img2 %}<img class="bd-placeholder-img mr-2 rounded" width=70% height=70% src="{{ obj.img2.url }}">{% endif %}
        <br>
                </div></center> 

     <br>
            <table class="table table-bordered flexy1">
            <tbody>
            <tr>
            <td>
                <h4>Примеры</h4>
                <br>
                {{ obj.examples }}
            </td>
            </tr>
            </tbody> 
                </table>

     {% if obj.exceptions %}
                
            <table class="table table-bordered flexy1">
            <tbody>
            <tr>
            <td class="ind1">
                <h4>Исключения</h4>
                <br>
                {{ obj.exceptions }}
            </td>
            </tr>
            </tbody>
                </table>
           {% endif %}

      
                {% if obj.trening %}
            <table class="table table-bordered flexy1">
            <tbody>
            <tr>
            <td>
                <h4>Ссылки</h4>
                <br>
                                <a href="{{ obj.trening}}"  target="blank" >
                ссылка
                </a>
            </td>
            </tr>
            </tbody>
                </table>
                {% endif %}



  <br>  <br>

       <center>   <a href="{% url 'inorganiclawtest' obj.pk %}"  class="btn btn-primary  mt-2 mr-2 ml-2"> 
       Перейти к тренировке
   </a></center> 
    
  <br>  <br>


               <center>  <div class="media text-muted flex-column align-items-center pt-3">
       {% if obj.img3 %}<img class="bd-placeholder-img mr-2 rounded" width=70% height=70% src="{{ obj.img3.url }}">{% endif %}

</div></center> 

{% for j in qw %}
 <br>  <br>
    <h3>Еще примеры (реакции приведены без коэффициентов)</h3>

             <p style="display: block; width: 100%; text-align: center !important; font-family: Georgia, serif; font-size: 20pt; font-variant-numeric: oldstyle-nums; margin-left: auto; margin-right: auto;">
<a href="{% url 'inorganiclawtestanswer' j.pk %}" target="_blank" rel="noopener noreferrer">
           {% if j.reagent1 %}       
       {{j.reagent1}} 
         {% endif %}
                 
         {% if j.reagent2 %}
          +  {{j.reagent2}}
         {% endif %}

        {% if j.reagent3 %}
          +  {{j.reagent3}}
         {% endif %}

         =
{% if j.product1 %}
{{j.product1}} 
                  {% endif %}
     {% if j.product2 %}
          + {{j.product2}}
         {% endif %}
      {% if j.product3 %}
          + {{j.product3}}
         {% endif %}
      {% if j.product4 %}
          +{{j.product4}}
         {% endif %}

</a>
</p>


  
 {% endfor %}


 </div>

<div class="col-4">
    <center>   <h4>Условности</h4>  </center><br>
    Э = любой химический элемент <br>
    Met = любой металл <br>
    Amet = любой неметалл <br>
    Amf = любой амфотерный элемент <br>
    Cat = любой катион <br>
    A = любой кислотный остаток <br>
    Щ = любой щелочной металл I группы <br>
    Hal2 = галоген (Cl, Br, I) <br>
    Oxi = окислитель <br>
    Red-Oxi = восстановленный окислитель <br>
    Red = восстановитель <br>
    Oxi-Red = окисленный восстановитель <br>


    </div>
{% endautoescape %}
{% endblock %}
