{% extends 'main/superbase.html' %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
{{obj.title}} 
{% endblock %}
{#конец названия страницы#}


    {% block metaname %}<meta name="description" content="{{obj.metatitle}}" >{% endblock %}
    {% block keywords %}<meta name="keywords" content="{{obj.keywords}}">{% endblock %}
    {% block description %}<meta name="description" content="{{obj.description}}">{% endblock %}


{% block content %}
{% autoescape off %}

<div class="col-12">
         

         <!-- <p style="display: block; width: 100%; text-align: center !important; font-family: Georgia, serif; font-variant-numeric: oldstyle-nums; font-size: 44pt;"> -->
             <p style="display: block; width: 100%; text-align: center !important; font-family: Georgia, serif; font-size: 44pt; font-variant-numeric: oldstyle-nums; margin-left: auto; margin-right: auto;">

           {% if reagent1 %}       
         {{reagent1}}
         {% endif %}
                 
         {% if reagent2 %}
          + {{reagent2}}
         {% endif %}

        {% if reagent3 %}
          + {{reagent3}}
         {% endif %}

         =
{% if product1 %}
 {{product1}} 
                  {% endif %}
     {% if product2 %}
          + {{product2}}
         {% endif %}
      {% if product3 %}
          + {{product3}}
         {% endif %}
      {% if product4 %}
          + {{product4}}
         {% endif %}


</p>

        </center>
    
<center>     

         <p style="text-align: center; font-family: Georgia, serif; font-variant-numeric: oldstyle-nums; font-size: 20pt;">
 
         {% if condition %}
                   {{condition}}
         {% endif %}

 </p>

        </center>

</center>


      <br>  
{% if next_index %}
       <center>   <a href="{% url 'inorganiclawtestquestion' next_index %}"  class="btn btn-primary  mt-2 mr-2 ml-2"> 
       Следующая химическая реакция
   </a></center> 

{% elif not next_index %}
  
  <center>   <a href="/chem/inorganiclaw"  class="btn btn-primary  mt-2 mr-2 ml-2">   Тест завершен, спасибо! Перейти в тему
   </a></center> 
 {% endif %}   
  <br>  
    
  <br>
      новый  {{items}}
  <br>
    длина нового    {{count}}
  <br>
{{my_answer}}
<br>
старый    {{last_list}}
 </div>

<div class="col-4">

    </div>
{% endautoescape %}
{% endblock %}
