{% extends 'main/base.html' %}
<!-- {% load crispy_forms_filters %}
{% load crispy_forms_tags %} -->

{#название страницы#}
{#стандартная#}
{% block title %}
Законы неорганической химии 
{% endblock %}
{#конец названия страницы#}


    
{% block content %}
{% autoescape off %}
<div class="container">

<div class="row">
        <div class="col-12">
            
   <center>  <h3><a href="/chem/"> Законы неорганической химии </a></h3>     </center>
{#основная таблица#}

{% for obj in objects %}
   
    <table class="table table-bordered flexy">
    <tbody>
    <tr>
        <td > 
           <h4>{{ obj.title }}</h4>
            <br>

        <a href="{% url 'inorganiclawstr' obj.pk %}" target="blank" class="btn btn btn-outline-primary  mt-3" style="width: 180px">читать далее</a>
        </td>
    </tr>
    </tbody>
</table>
 {% endfor %}
{#конец основной таблицы#}
{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary mt-1">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary mt-1">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary mt-1">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary mt-1">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>
    
 {# колонка с фильтрами #}   
<div class="col">

 
</div>
 {# конец колонки с фильтрами #} 
    
</div>
</div>
</div>
{% endautoescape %}
{% endblock %}
