{% extends 'main/superbase.html' %}


{#название страницы#}
{#стандартная#}
{% block title %}
{{obj.title}} 
{% endblock %}
{#конец названия страницы#}


    {% block metaname %}<meta name="description" content="{{obj.metatitle}}" >{% endblock %}
    {% block keywords %}<meta name="keywords" content="{{obj.keywords}}">{% endblock %}
    {% block description %}<meta name="description" content="{{obj.description}}">{% endblock %}


{% block content %}


<div class="col-12">
         
     <center>  <div class="flex-column align-items-center pt-3">
         <p style="font-family: Georgia, serif; font-variant-numeric: oldstyle-nums;">
       <font size="22">  
         {{reagent1}}
         
         {% if reagent2 %}
          + {{reagent2}}
         {% endif %}

        {% if reagent3 %}
          + {{reagent3}}
         {% endif %}

         =
</font>
</p>
           </div></center> 

         <br>

              <center>  <div class="flex-column align-items-center pt-3"> 
       <font face="Georgia" size="12">  
         {% if condition %}
                   {{condition}}
         {% endif %}
    </font>
            </div></center>     
  <br>
        {{items}}
  <br>
        {{count}}
  <br>



 </div>



{% endblock %}
