{% extends 'main/superbase.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
Таблицы по химии
{% endblock %}
{#конец названия страницы#}


    
{% block content %}
{% autoescape off %}
<div class="col-12">
         
   <center>  <h3><a href="/chem/"> Ссылки </a></h3>     </center>
{#основная таблица#}

{% for obj in objects %}
   
  <br>  <br>
  <table>
    <td>
<h3>

      <a href="{{ obj.text }}">{{ obj.title }}</a>
    </h3>
      </td>
    </table>


 {% endfor %}


  

    
    </div>
{% endautoescape %}
{% endblock %}
