{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="col-8">
    <center>
        <h3>Вопрос №{{ index|add:1 }}</h3>
        <!-- Используем name1 -->
        <h4>Нарисуйте формулу для: <br><strong>«{{ molecule.name1 }}»</strong></h4>

        <div id="jsme_container" style="width: 620px; height: 420px; border: 1px solid #ccc; margin: 20px 0;"></div>

        <form method="POST" action="{% url 'organicnamestest_answer' index %}" id="answer-form">
            {% csrf_token %}
            <input type="hidden" name="user_smiles" id="user_smiles">
            <button type="button" onclick="makeAnswer()" class="btn btn-primary" style="width: 80%">Ответить</button>
        </form>
    </center>
</div>

<script type="text/javascript" src="{% static 'js/jsme/jsme.nocache.js' %}"></script>
<script>
    var jsmeApplet;
    function jsmeOnLoad() {
        if (document.getElementById("jsme_container")) {
            jsmeApplet = new JSME.jsmeApplet("jsme_container", "600px", "400px");
        }
    }

    function makeAnswer() {
        if (jsmeApplet) {
            document.getElementById('user_smiles').value = jsmeApplet.smiles();
            document.getElementById('answer-form').submit();
        }
    }
</script>
{% endblock %}
