{% extends 'main/superbase.html' %} 

{% block title %} Личный кабинет {% endblock %} 

{% block content %} 
<div class="col-12"> 
    <h2>Кабинет пользователя - изучение химии</h2> 
    
    <div class="media text-muted pt-3"> 
        <img class="bd-placeholder-img mr-2 rounded" width="30%" height="30%" src="{{ user.profile.img.url }}"> 
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> 
            <strong class="d-block text-gray-dark"><b>Данные учетной записи</b></strong> 
            <br> 
            <strong class="d-block text-gray-dark"><b>Логин: </b> {{ user.username }}</strong> 
            <strong class="d-block text-gray-dark"><b>ФИО: </b> {{ user.profile.name }}</strong> 
        </p>
    </div> 
    
    <br> 
    
    <center> 
<!-- НАЧАЛО БЛОКА: Личный раздел Labjournal (Сдержанный серо-стальной дизайн) -->
{% if request.user.is_authenticated and request.user.username|lower == 'labjournal' %}
    <a href="{% url 'personal_page' %}" class="btn btn-outline-secondary shadow-sm font-weight-bold mr-2 ml-2 mb-3 py-2" style="width: 80%; color: #4a5568; border: 1px solid #cbd5e0; background-color: #f7fafc;">
        <i class="fas fa-folder-open mr-2" style="color: #4a5568;"></i> Личный раздел Labjournal
    </a>
{% endif %}
<!-- КОНЕЦ БЛОКА -->


        <!-- Кнопка для Неорганики --> 
        <a href="{% url 'my_reactions_test' %}" class="btn btn-primary mr-2 ml-2 mt-2" style="width: 80%"> 
            📚 Мои карточки: Неорганика ({{ request.user.favorite_reactions.count }}) 
        </a> 
        
        <!-- Кнопка для Органики --> 
        <a href="{% url 'organic_favorites_test_head' %}" class="btn btn-success mr-2 ml-2 mt-2" style="width: 80%"> 
            🧪 Мои карточки: Органика ({{ request.user.organic_favorite_reactions.count }}) 
        </a> 
    </center> 
    
    <br> 
    <br> 
    
    <center> 
        <form method="post" enctype="multipart/form-data" class="form-register mt-4"> 
            {% csrf_token %} 
            {{ ChemProfileUdateForm.as_p }} 
            <button class="btn btn-outline-primary" type="submit">Обновить</button> 
        </form> 
    </center> 
    
    <br> 
</div> 
{% endblock %}
