{% extends 'main/superbase.html' %}

{% block title %}
    Кабинет пользователя
{% endblock %}

{% block content %}
 <div class="col-12">
    <h2>Кабинет пользователя - управление Лабораторией</h2>
    <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width=30% height=30% src="{{ user.profile.img.url }}">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><b>ID организации:  </b> 15{{ company.pk }}</strong>
            <strong class="d-block text-gray-dark"><b>Название организации:  </b> {{ company.name }}</strong>
            <strong class="d-block text-gray-dark"><b> ______________ </b> </strong>
            <br>
            <strong class="d-block text-gray-dark"><b>Данные учетной записи</b></strong>
            <br>
            <strong class="d-block text-gray-dark"><b>Логин:  </b> {{ user.username }}</strong>
            <strong class="d-block text-gray-dark"><b>ФИО:  </b> {{ user.profile.name }}</strong>
            <strong class="d-block text-gray-dark"><b>Должность:  </b> {{ user.profile.userposition }}</strong>
            <strong class="d-block text-gray-dark"><b>Права пользователя:  </b> {{ user_group }}</strong>
            {% if user.profile.main_user %}
            <strong class="d-block text-gray-dark"><b>ГЛАВНЫЙ ПОЛЬЗОВАТЕЛЬ</strong>
            {% endif %}
    </div>




     
<!--       Кнопки   . USER_HAVE_RIGHTS  зят из /main/context_processors/base_context.py  и их надо регистрировать в сеттингс еще каждый он принимает request, а пользовательские теги - нет   -->
                                                                                        

            {% if USER_HAVE_RIGHTS %}  

             <br>

                <center>
                    <a href="{% url 'companyprofile' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:25%"> Профиль организации </a>
                    <a href="{% url 'employees' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width: 25%"> Сотрудники </a>

                    <a href="{% url 'rooms' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:25%"> Помещения </a>
                    <a href="{% url 'agreementcompanylist' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:25%"> Договоры с поверителями </a>
                </center>

     {% endif %}

           <br>
                     <center>
                    <a href="{% url 'balancechange' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:25%"> Оплата </a>
                </center>
 <br>
              <form method="post" enctype="multipart/form-data" class="form-register mt-4">
        {% csrf_token %}
        {{ ProfileUdateForm.as_p }}
        <button class="btn btn-outline-primary" type="submit">Обновить</button>
    </form>
    <br>     <br>  <br>
</div>
{% endblock %}
