@media screen and (min-width: 1200px) {
    .table-list {
        max-width: fit-content !important;
    }
}

.main-page-body {
  background-color: rgba(123, 245, 244, 0.47);
  white-space: nowrap !important;
}

.inner-page-body {
  background-color: rgba(245, 244, 225, 0.47);
}

.navbar1 {
    background: rgba(22, 240, 240, 0.47) !important;
    border-bottom: 3px solid silver;
    border-color: #f5f5f6 !important;
}

aside {
position: absolute;
right: 0;
}

.alert-light {
  border-color: #bfbfbf;
}

.form-register {
  padding: 20px;
  background: #fafafa;
  border: 1px solid silver;
  margin-top: 20px;
}

.form-register .helptext {color: #000000
}

.form-register ul.errorlist {
    color: #ca5858;
    font-weight: bold;
}


.form-register.auth input {
    display: block;
    width: 96%;
    margin-top: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2%;

}

.table-bordered td, .table-bordered th{
    border-color: #4d74bd !important;
    background-color: rgb(245, 245, 246) !important;
    text-align: center !important;
    white-space: nowrap !important;
    hyphens: none !important;
}

.flexy {
    border-color: #4d74bd !important;
    background-color: rgb(245, 245, 246) !important;
    text-align: center !important;
    width:100% !important;
    /*word-break: break-all !important;*/
    table-layout: fixed !important;
    white-space: nowrap !important;
    hyphens: none !important;
}

.flexy1 {
    border-color: #4d74bd !important;
    background-color: rgb(245, 245, 246) !important;
    width:100% !important;
    /*word-break: break-all !important;*/
    table-layout: fixed !important;
    white-space: nowrap !important;
    hyphens: none !important;
}

.td600 {
    min-width: 250px !important;
}

.td200 {
    min-width: 60px !important;
}

.td800 {
    min-width: 330px !important;
}


td.red {
    background-color: rgb(252, 236, 236) !important;
}
td.orange {
    background-color: rgb(248, 237, 230) !important;
}
td.green {
    background-color: rgb(221, 246, 221) !important;
}

.Badresult {
  color: #FF0000;
}

.Goodresult {
  color: #047c0a;
}

.Middleresult {
  color: orange;
}


.alert-light {
  color: #04147c;
    background-color: rgb(245, 245, 246);
}


.nor , nor.td, nor.th {
  border: 1px solid black;
    height: 22px;
    padding: 0 !important;
    text-align: center !important;
    border-collapse: collapse !important;
    min-width: 100px;
    white-space: nowrap !important;
}

.nor {
  border-collapse: collapse;
  background-color: rgb(245, 245, 246);
    width: 15px;
    white-space: nowrap !important;
}

@media print{
   .noprint{
       display:none;
   }
}

th.ind {
    max-width: 100px !important;
    word-wrap: break-word;
}

td.ind {
    max-width: 100px !important;
    word-wrap: break-word;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;}
